{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          {% if name %}
            こんにちは {{ name }} さん
          {% else %}
            {{ message }}
          {% endif %}
        </p>
  
        <form action="/post" method="post" class="form-group">
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <label for="date_field">基準日</label>
            <input type="text" id="date_field", name="date_field", class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          <button type="submit" class="btn btn-default">送信する</button>
        </form>

        {% if image_paths is not none %}
          <div class="image">
            <div class='row'>
              {% for path in image_paths %}
                <div class="col-md-6">
                  {{ path['time'] }}
                  <img src="{{ path['path'] }}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if predictions is not none %}
          <div class="predictions">
            <div class='row'>
              {% for pred in predictions %}
                <div class="col-md-6">
                  {{ '降りそう' if pred == 1 else '降らなさそう' }}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}

